In [ ]:
import pandas as pd

In [ ]:
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_engineering_schools#United_States")

In [ ]:
df[6]

,State (city)[13],University,School,Master's/doctoralprograms?
0,Alaska (Anchorage),University of Alaska Anchorage,School of Engineering,Yes
1,Alaska (Fairbanks),University of Alaska Fairbanks,College of Engineering and Mines,Yes
2,Alabama (Huntsville),Alabama A&M University,"College of Engineering, Technology, and Physic...",Yes
3,Alabama (Auburn),Auburn University,Samuel Ginn College of Engineering,Yes
4,Alabama (Tuskegee),Tuskegee University,College of Engineering,Yes
...,...,...,...,...
367,Wisconsin (Madison),University of Wisconsin–Madison,College of Engineering,Yes
368,Wisconsin (Milwaukee),University of Wisconsin–Milwaukee,College of Engineering and Applied Science,Yes
369,Wisconsin (Platteville),University of Wisconsin–Platteville,NaN,NaN
370,Wisconsin (Menomonie),University of Wisconsin–Stout,"College of Science, Technology, Engineering an...",NaN
371,Wyoming (Laramie),University of Wyoming,College of Engineering and Applied Science,Yes

In [ ]:
df[6].to_excel('US_University.xlsx')

In [ ]:
#https://www.youtube.com/watch?v=MIEOBL8n0aM

In [ ]:
pip install beautifulsoup4 lxml requests openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (4.9.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [ ]:
import requests

In [ ]:
pip install beautifulsoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
def get_data(url):
  response = requests.get(url)
  soup = BeautifulSoup(response.text,
                       "lxml")
  profiles = soup.find_all('table', attrs = {'class' = ""})